<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://fc03.deviantart.net/fs70/f/2013/019/b/6/pokeball_by_zel_duh-d5s04qj.gif"
        alt="Pokéball Icon"
        width="30"
        height="30"
        class="d-inline-block align-content-center"
      />
      Pokémon Master</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/pokedex">Pokédex</a>
        <a class="nav-link" href="/collections">Collections</a>
        <a class="nav-link" href="/trainers">Trainers</a>
      </div>
    </div>
    <div class="d-flex justify-content-end navbar-nav ml-auto">
      <% if(!currentUser) { %>
      <a class="nav-link" href="/login">Log In</a>
      <a class="nav-link" href="/register">Sign Up</a>
      <% } else { %>
      <a class="nav-link p-2" href="/logout">Log Out</a>
      <% } %>
    </div>
  </div>
</nav>
