<% layout("layouts/boilerplate") %>

<div class="container d-flex justify-content-center align-items-center mt-1 mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow">
        <img
          src="https://external-preview.redd.it/KEiprnJN9-4nOT87Ob7OK0JF5jfjLMzKMJ1H6tiYGd0.jpg?width=960&crop=smart&auto=webp&s=b402ecb7e0094fd4ae382f499ac88d4bf9d7192c"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
          <form action="/register" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" type="text" id="username" name="username" autofocus required />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input class="form-control" type="email" id="email" name="email" required />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input class="form-control" type="password" id="password" name="password" required />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-outline-danger fw-bold">Sign Up!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
